<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
        name="MassPrintStudentScreens"
        version="1.0"
        description="11.x version of Mass Print Student Screens">

    <publisher name="Timothy Gates">
        <contact email="bethsheal@gmail.com" />
    </publisher>

</plugin>